@import '~bootstrap/scss/bootstrap';


body{
  background-color: #65CCB8;
  color: white;
  display: grid;
  grid-template-columns: 20% auto 25%;
  grid-template-rows: 20% auto 20%;
  row-gap: 10px;
  column-gap: 10px;
}

#navbar{
  background-color: #3B945E;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;


  & > #userDropDown {
    text-align: center;
  }

  & > .dropdown-toggle {

  }
}

// this will Allow access to Sign in and Sign Up form
#inUp-form {
  //display: flex;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;

  // This allows access to TO signin section
  & > #signIn-Section {
    border: 2px solid green;
    color: #182628;
    display: flex;
    flex-direction: column;
    background-color: #57BA98;
    box-shadow: 10px 5px 5px green;
    align-content: space-around;
    text-align: center;

    // This will allow access into Sign in form
    & > #signIn-Form {
      flex-direction: column;

    }



  }

  // This allows access to TO signup section
  & > #signUp-Section {
    border: 2px solid green;
    display: flex;
    flex-direction: column;
    background-color: #57BA98;
    box-shadow: 10px 5px 5px green;
    color: #182628;
    text-align: center;
    align-content: space-around;


    // This will allow access to Sign up form
    & > #signUp-Form {
      flex-direction: column;
    }
  }




}

// This will allow access to expenseBoard
#expenseBoard {

  margin: 2%;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;


// This will get you into Each expense Section
  & > .perExpenseSection {
    display: flex;
    border: 3px solid black;
    width: inherit;
    background-color: #b2dbcf;
    color: #182628;
  }

  & > #exampleExpense {
      pointer-events: none;

     & > .perExpenseSection {
      display: flex;
      border: 3px solid black;

      & > .expenseAmount {
      text-align: right;
      }

      & > .expenseId {
      text-align: right;
      }

    }
  }
}

#findExpense-Section {
  width: 98%;
  padding: 2%;
}

.updateForm {


}

#middle {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

#right {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

#message {
  background-color: #3B945E;
  color: #182628;
  text-align: center;
}

#newExpense-Section {
  width: 98%;
  padding: 2%;
}

.delete{
  color: red;
}

.greenWord {
  color: green;
}
